/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

/* Header */
header {
    width: 100%;
    padding: 20px;
    text-align: center;
}

nav {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    /* Aumentar el max-width para más espacio */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    margin: 0 auto;
    /* Centrar el nav */
}

nav h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #feb47b;
}

/* Main Section for Register Form */
#registerSection {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
}

/* Title */
h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #feb47b;
}

/* Form Fields */
#formCampos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 2px solid #feb47b;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="password"]:focus {
    outline: none;
    border-color: #ff7e5f;
}

/* Submit Button */
#formButton, #backButton {
    background-color: #ff7e5f;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-top: 20px;
}

#formButton:hover, #backButton:hover {
    background-color: #feb47b;
}

/* Footer */
footer {
    margin-top: 20px;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    h1 {
        font-size: 2rem;
    }

    #registerSection {
        padding: 20px;
        width: 100%;
    }
}